.header {
  > p {
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 4vh;
    margin-top: 5vh;
    position: relative;
}
}

.mat-tab-label {
  margin-bottom: 20px;
}

.bloc_education_title {
  margin-top: 30px !important;
}

.text-card {
  margin-top: 15px;
}
